{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-6 col-lg-offset-3">
    <h2 class="page-header">Dodaj Stronę</h2>
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
    </div>
{% endblock %}